body{
    background-color: #440037;
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    text-align: center;
}
body::selection{
    background-color: #ff00d0;
}

.picture{
    width: 30%; height: 30%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../icons/pupur.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.bubble{
    width: 60%; height: 40%;
    overflow: hidden; position: absolute;
    background-color: #ff00d0; filter: blur(100px);
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.title {
    font-family: QuickSand;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffffde;
    font-size: 1.7rem;
    font-weight: 550;

    white-space: normal; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    
    width: 80%; 
    max-width: 80%;
    text-align: center;
}

.change{
    position: absolute;
    top: 95%; left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-family: QuickSand;
    color: #ff6ae4;
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
}

.change:hover{
    color: white;
}
