/*---{ PAINEL 1}---*/

.painel1{
    width: 250;
    height: 250;
    background-color: rgba(181, 245, 222, 0.697);
    position:absolute;
    margin-left: 300;
    border-radius:25px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.painel1-Title{
    width: 150;
    height:150;
    position:absolute;
    margin-left: 40;
    margin-top: 15;
    border-radius:25px;
    text-align: center;
    font-size:28px;
    font-family: QuickSand;
    color:  rgb(255, 255, 255);
}

.painel1-Circle{
    width: 130;
    height: 130;
    margin-left: 60;
    margin-top: 60;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: white;
    border-radius: 100%;
}

.painel1-CircleText{
    margin-left: 47;
    margin-top: 45;
    color: white;
    font-family: QuickSand;
    font-size: 28;
}

.painel1-deg1 {
    width: 130px;
    height: 130px;
    margin-top: -136;
    margin-left: 60;
    border-width: 25;
    border:solid #ff000000;
    border-top:solid #000000;
    border-radius: 157%;
    transform: rotate(45deg);
    animation: alertblink 1s  cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

.painel1-deg2 {
    width: 130px;
    height: 130px;
    margin-top: -136;
    margin-left: 60;
    border-width: 25;
    border:solid #ff000000;
    border-top:solid #000000;
    border-radius: 157%;
    transform: rotate(120deg);
    animation: alertblink 1s  cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

.painel1-deg3 {
    width: 130px;
    height: 130px;
    margin-top: -136;
    margin-left: 60;
    border-width: 25;
    border:solid #00000000;
    border-top:solid #000000;
    border-radius: 157%;
    transform: rotate(210deg);
    animation: alertblink 1s  cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

.painel1-deg4 {
    width: 130px;
    height: 130px;
    margin-top: -136;
    margin-left: 60;
    border-width: 25;
    border:solid #00000000;
    border-top:solid #000000;
    border-radius: 157%;
    transform: rotate(280deg);
    animation: alertblink 1s  cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}



.painel1-asset3{
    margin-left: 00;
    margin-top: 10;
    color: rgb(0, 0, 0);
    font-family: QuickSand;
    font-size: 20;
    text-align: center;
    animation: alertblinktext 1s  cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

/*---{ PAINEL 2}---*/
.painel2{
    width: 410;
    height: 320;
    background-color: rgba(124, 62, 76, 0.2);
    position:absolute;
    margin-left: 300;
    margin-top: 280;
    border-radius:25px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    
}

.painel2-Title{
    width: 150;
    height:150;
    position:absolute;
    margin-left: 130;
    margin-top: 140;
    border-radius:25px;
    text-align: center;
    font-size:28px;
    font-family: QuickSand;
    color:  rgb(255, 255, 255);
}


/*---{ PAINEL 3}---*/
.painel3{
    width: 550;
    height: 420;
    background-color: rgba(124, 62, 76, 0.2);
    position:absolute;
    margin-left: 750;
    margin-top: 185;
    border-radius:25px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    
}

.painel3-Title{
    width: 150;
    height:150;
    position:absolute;
    margin-left: 190;
    margin-top: 190;
    border-radius:25px;
    text-align: center;
    font-size:28px;
    font-family: QuickSand;
    color:  rgb(255, 255, 255);
}