@font-face {
    font-family: QuickSand;
    src: url('QuickSand.ttf') format('truetype');
}
@font-face {
    font-family: Jersey;
    src: url('Jersey15.ttf') format('truetype');
}
@font-face {
    font-family: RubikIso;
    src: url('RubikIso.ttf') format('truetype');
}