/* ===== LEFT SIDE ===== */

/* Left side - Text elements */
.header-prese {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.header-icon {
  height: 40px;
  width: 40px;
  background-image: url("../../media/img/fractal.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.line {
  width: 40%;
  height: 2px;
  background-color: var(--purple-color);
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Left side - Buttons */
.buttons {
  width: 100%;
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  z-index: 3;
  flex-wrap: wrap;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  background-color: var(--purple-color);
  color: black;
  border: none;
  font-weight: 600;
  transition: 0.2s all ease;
  white-space: nowrap;
  border-style: solid;
  border-color: transparent;
  border-width: 3px;
}

.button:hover {
  transition: 0.2s all ease;
  background-color: var(--primary-color);
  border-color: var(--selection-color);
}

.button:hover a {
  color: var(--selection-color);
}

.button a {
  color: black;
  text-decoration: none;
}

.try {
  background-color: var(--neon-cyan);
}

.code {
  background-color: var(--neon-yellow);
}

.download {
  background-color: var(--neon-green);
}

/* Left side - Links */
.links {
  width: 100%;
  margin-top: 1%;
  z-index: 3;
  color: var(--semi-white);
  user-select: text;
  -moz-user-select: text;
}

.links a {
  color: var(--selection-color);
  text-decoration: none;
  font-weight: 500;
  user-select: text;
  -moz-user-select: text;
}

/* ===== RIGHT SIDE ===== */
/* Right side - Media */
.media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  padding: 2%;
}

.media-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: #4714ff 2px solid;
}
