/* = Main page stuff = */
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
  height: 85vh;
}

.bola {
  position: absolute;
  width: 19rem;
  height: 19rem;
  background-color: rgb(77, 248, 245);
  border-radius: 50%;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(100px);
}

.desktop {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.desktop::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  text-align: center;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-image: url("../img/defaultbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(80px);
}

.left {
  width: 40%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  overflow-y: auto;
}

.right {
  width: 60%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  overflow-y: auto;
}
