body{
    overflow: hidden;
}
.icon{
    width: 100%; height: 110px;
    background-image: url(https://umaera.github.io/icons/cloud-icons/cloud.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
    margin-top: 17%;
}

@font-face {
    font-family: QuickSand;
    src: url(font-quicksand.ttf);
  }

.title{
    width: 100%;
    font-family: QuickSand;
    text-align: center;
    font-size: 30;
    margin-top: -2%;
}

.description{
    width: 100%;
    font-family: QuickSand;
    text-align: center;
    margin-top: 8%;
}