body{
    background: linear-gradient(to bottom right, #ff9fc4, #ffffff);
    font-family: QuickSand;
    color: rgb(0, 0, 0);
    margin: 0px; padding: 0;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    transition: 0.2s ease-in-out;
}

@font-face {
    font-family: QuickSand;
    src: url(font-quicksand.ttf);
    
  }

    
.img{
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width:25%;
    height:25%;
    background-position: center;
    background-size: 110px;
    background-repeat: no-repeat;
}

.painel{
    position: absolute;
    width: 27%; height: 15%;
    background-color: #ffffff8e;
    top:80%; left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    backdrop-filter: blur(14px);
    color: black;
    text-align: center;
    user-select: auto;
    -moz-user-select: all;
    -webkit-user-drag: auto;
    -webkit-user-select: auto;
}

.titlepainel{
    font-weight: bold;
    font-size: 24px;
    margin-top: 50px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

h1{
    color: black;
}

h2{
    color: rgb(62, 62, 62);
    margin-top: -120;
    font-size: 18;
}

#main{
    animation: moveit2 2s ease-in-out;
}