.SideNav{
    height: 98%;
    background-color: rgb(124, 62, 76);
    width: 200px;
    border-radius: 25px;
    position: absolute;
}

.SiteInfo{
    width: 175;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 100px;
    margin-top: 15;
    margin-left: 10;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}
.SiteIcon{
    background-image: url(../icons/default.png);
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
}
.SiteTitle{
    font-family: QuickSand;
    color: white;
    position: absolute;
    margin-top: -38;
    margin-left: 50;
    font-size: 20px;
}

.HiperLinks{
    width: 175;
    background-color: rgba(255, 255, 255, 0.2);
    height: 300;
    border-radius: 25px;
    margin-top: 15;
    margin-left: 10;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.HLTitle{
    font-family: QuickSand;
    color: white;
    position: absolute;
    margin-top: 04;
    margin-left: 50;
    font-size: 20px;
}

.ProfileLinks{
    width: 175;
    background-color: rgba(255, 255, 255, 0.2);
    height: 220;
    border-radius: 25px;
    margin-top: 15;
    margin-left: 10;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.PLTitle{
    font-family: QuickSand;
    color: rgb(255, 255, 255);
    position: absolute;
    margin-top: 04;
    margin-left: 50;
    font-size: 20px;
}