:root {
    --background: #0a0a0f;
    --text: #fff;
    --surface: #1d1d1d;
    --surface-hover: #2d2d2d;
    --primary: #e43967;
    --primary-hover: #902743;
    --accent: #e43967;

    --ul-text: #b4b4b4;

    --stable: #955365;
    --fixed: #86e9ff;
    --added: #bdff80;
    --improved: #ffef76;
    --redesigned: #ff9b73;
    --changed: #d3adff;
    --deleted: #fd5050;
}

::selection{
    background: var(--primary);
    color: black;
}

html{
    background-color: #0a0a0f;
    width: 100%;
    max-width: 100%;
    user-select: none;
    overflow-x: hidden;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    scroll-behavior: smooth;
}

body{
    display: flex;
    background-color: var(--background);
    color: var(--text);
    font-family: 'Dosis', sans-serif;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}
  
body::-webkit-scrollbar {
    width: 10px;
}
  
body::-webkit-scrollbar-track {
    border-radius: 10px;
}
  
body::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 10px;
}
  
body::-webkit-scrollbar-thumb:hover {
    background: var(--primary-hover);
}
  
section {
    display: inline-block;
    height: fit-content;
    width: 85%;
    max-width: 1200px;
    padding: 5% 0% 5% 5%;
    border-color: #333;
    border-bottom-style: solid;
}

section h1{
    font-size: 3em;
    margin: 0;
}

blockquote{
	margin: 0;
	padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

.header-flex {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header-icon {
  flex-shrink: 0;
}

.header-iconElement{
    height: 9rem;
}

.header-content {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.headerh1{
    font-size: 2.2rem;
    font-family: 'Pacifico',cursive;
    color: var(--accent);
}

.header-links-row {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  align-items: center;
  margin-bottom: 5%;
}

.header-iconElement {
    cursor:grab;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.header-iconElement:active {
    cursor:grabbing;
}