body{
    background-color: rgb(173, 79, 124);
    overflow: hidden;
}

@font-face {
    font-family: Jersey;
    src: url('fonts/Jersey15-Regular.ttf') format('truetype'); /* Corrigido para 'truetype' */
}

@font-face {
    font-family: QuickSand;
    src: url('fonts/Quicksand-VariableFont_wght.ttf') format('truetype'); /* Corrigido para 'truetype' */
}

.giantball{
    position: absolute;
    height: 400px;
    width: 1500px;
    background-color: rgb(255, 255, 0);
    margin-top: 500;
    margin-left: -70;
    border-radius: 100%;
    filter: blur(150px);
    animation: uprise ease-in-out 2s;
}

.rain {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    pointer-events: none;
    z-index: 3;
}
.drop {
    width: 3px;
    height: 3px;
    background: rgb(255, 255, 255);
    position: absolute;
    bottom: 0; /* Começa na parte inferior */
    animation: rise linear infinite;
    border-radius: 100%;
}
@keyframes rise {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100vh); /* Sobe até fora da tela */
    }
}

.version{
    width: 10;
    position: absolute;
    color:white;
    z-index: 0;
    margin-top: 610;
    margin-left: 1320;
    user-select: none;
    -webkit-user-select: none;
    font-family: QuickSand;
}

.closeP{
    width: 150%;
    height: 0%;
    position: relative;
    background: black;
    z-index: 50;
    margin: 0;
    padding: 0;
}


@keyframes uprise {
    0%{
        background-color: black;
        filter:blur(999px);
        margin-top: 900;
    }
    
}
