html{
    background-color: #d0004c;
}

body {
    background-color: #d0004c;
    opacity: 0; margin: 0; overflow: hidden;
    transition: opacity 1s ease-in-out;
}

body.loaded {
    opacity: 1;
}

.frame{
    width: 95%; height: 95%;
    overflow: hidden; position: absolute;
    background-color: #ff005d45;
    backdrop-filter: blur(4px);
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

.title{
    font-size: 84px; color: white;
    font-family: RubikIso;
    overflow: hidden; position: absolute;
    top: 12%; left: 50%;
    transform: translate(-50%, -50%);
}

.description{
    font-size: 24px; color: white;
    font-family: QuickSand;
    overflow: hidden; position: absolute;
    top: 22%; left: 50%;
    transform: translate(-50%, -50%);
}

.bubble{
    width: 60%; height: 40%;
    overflow: hidden; position: absolute;
    background-color: #ff005dca; filter: blur(100px);
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.toolbar{
    width: 80%; height: 10%;
    overflow: hidden; position: absolute;
    top: 90%; left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    background-color: #9F0039;
    border-radius: 5px; width: 4vw; height: 4vw;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none; cursor: pointer;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.74);
    margin-left: 20; margin-right: 20;
}

.button:hover {
    background-color: #d0004c;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.74);
}

.button:active {
    background-color: #9F0039;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0);
}

