@media (max-width: 800px) {
    #hidOnResize{
        display: none;
    }
    section {
        width: 60%;
        padding: 8% 0% 8% 8%;
    }

    section h1{
        font-size: 2.5em;
    }

    .header-flex {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
    .header-icon {
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .header-content {
        width: 100%;
        align-items: flex-start;
    }
    .header-links-row {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.3rem;
        width: 100%;
    }

    .miniBlock-beta{
        color: white;
        background-color: rgba(81, 252, 78, 0.635); 
        padding: 5px 5px; 
        border-radius: 5px; 
        display: inline;
        white-space: nowrap;
        font-weight: 600;
        font-size: 0.5em;
        font-weight: 500;
    }

    .dropdown {
        width: 90%;
        min-width: 80%;
        border-radius: 8px;
        margin-bottom: 1rem;
        font-family: QuickSand;
    }
}

@media (max-width: 500px) {
    #hidOnResize{
        display: none;
    }
    section {
        width: 50%;
        padding:5% 0% 5% 0%;
    }

    section h1{
        font-size: 1.8em;
    }
    section h4{
        font-size: 1em;
    }
    section p{
        font-size: 0.8em;
    }

    .header-flex {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.3rem;
    }
    .header-icon {
        margin-bottom: 0.3rem;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .header-content {
        width: 100%;
        align-items: flex-start;
    }
    .header-links-row {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.2rem;
        width: 100%;
    }

    .dropdown-content ul li{
        font-size: 0.8em;
    }

    .miniBlock-Link-Inline{
        padding: 5px 5px; 
    }

    .footer-content{
        font-size: 0.8em;
    }
    .AdvancedInfoFormat{
        flex-direction: column; 
        gap: 10px;
        overflow-x: scroll;
    }

    .AdvancedInfoBlob{
        width: fit-content;
    }

    .miniBlock-beta{
        color: white;
        background-color: rgba(81, 252, 78, 0.635); 
        padding: 5px 5px; 
        border-radius: 5px; 
        display: inline;
        white-space: nowrap;
        font-weight: 600;
        font-size: 0.5em;
        font-weight: 500;
    }

    .dropdown {
        width: 96%;
        min-width: 80%;
        border-radius: 8px;
        margin-bottom: 1rem;
        font-family: QuickSand;
    }
}