.VersionSearchFrame{
    display: none;
    transition: 0.5s linear;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.070);
    z-index: 1000;
}

.VersionSearch{
    position: absolute;
    width: 30%;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    overflow: hidden;
    color: white;
    font-weight: 100;
    font-family: Outfit, sans-serif;
}

.SearchHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50%;
    margin: 0;
    padding: 0px 10px;
}

.Versions{
    padding: 10px;
    height: 100%;
    overflow-y: auto;
}

.Versions a{
    display: inline-block;
    white-space-collapse: wrap;
    padding: 10px;
    background-color: rgb(10, 68, 69);
    margin: 1%;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}

.closeVersionSelect{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 10px; height: 10px;
    padding: 10px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    background-image: url('../../midia/icons/tiles/close.white.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}