@font-face {
    font-family: Fredoka;
    src: url(./fonts/fredoka.ttf);
}

@font-face {
    font-family: QuickSand;
    src: url(./fonts/quicksand.ttf);
}

@font-face {
    font-family: Sugarpunch DEMO;
    src: url(https://fonts.cdnfonts.com/css/sugarpunch-demo);
}