.HTframe1{
    font-family: QuickSand;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    margin-top: 50;
    font-size: 18px;
    width: 175;
    text-align: left;
    transition: 0.2s;
    border-radius: 25px;
}

.HTframe1:hover{
    color: rgb(238, 16, 57);
    transition: 0.2s;
    cursor: pointer;
    background-color: white;
}

.HTframe1:active{
    color: rgb(255, 255, 255);
    transition: 0.2s;
    background-color: rgb(238, 16, 57);
}

.HTframe2{
    font-family: QuickSand;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    margin-top: 77;
    font-size: 18px;
    width: 175;
    text-align: left;
    transition: 0.2s;
    border-radius: 25px;
}

.HTframe2:hover{
    color: rgb(238, 16, 57);
    transition: 0.2s;
    cursor: pointer;
    background-color: white;
}

.HTframe2:active{
    color: rgb(255, 255, 255);
    transition: 0.2s;
    background-color: rgb(238, 16, 57);
}

.HTframe3{
    font-family: QuickSand;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    margin-top: 104;
    font-size: 18px;
    width: 175;
    text-align: left;
    transition: 0.2s;
    border-radius: 25px;
}

.HTframe3:hover{
    color: rgb(238, 16, 57);
    transition: 0.2s;
    cursor: pointer;
    background-color: white;
}
.HTframe3:active{
    color: rgb(255, 255, 255);
    transition: 0.2s;
    background-color: rgb(238, 16, 57);
}

.HTframe4{
    font-family: QuickSand;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    margin-top: 131;
    font-size: 18px;
    width: 175;
    text-align: left;
    transition: 0.2s;
    border-radius: 25px;
}

.HTframe4:hover{
    color: rgb(238, 16, 57);
    transition: 0.2s;
    cursor: pointer;
    background-color: white;
}

.HTframe4:active{
    color: rgb(255, 255, 255);
    transition: 0.2s;
    background-color: rgb(238, 16, 57);
}

.HTframe5{
    font-family: QuickSand;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    margin-top: 158;
    font-size: 18px;
    width: 175;
    text-align: left;
    transition: 0.2s;
    border-radius: 25px;
}

.HTframe5:hover{
    color: rgb(238, 16, 57);
    transition: 0.2s;
    cursor: pointer;
    background-color: white;
}

.HTframe5:active{
    color: rgb(255, 255, 255);
    transition: 0.2s;
    background-color: rgb(238, 16, 57);
}



.HTframe6{
    font-family: QuickSand;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    margin-top: 185;
    font-size: 18px;
    width: 175;
    text-align: left;
    transition: 0.2s;
    border-radius: 25px;
}

.HTframe6:hover{
    color: rgb(238, 16, 57);
    transition: 0.2s;
    cursor: pointer;
    background-color: white;
}
.HTframe6:active{
    color: rgb(255, 255, 255);
    transition: 0.2s;
    background-color: rgb(238, 16, 57);
}
