.PLframe1{
    font-family: QuickSand;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    margin-top: 40;
    margin-left: 7;
    font-size: 18px;
    width: 160;
    height: 40px;
    text-align: left;
    transition: 0.2s;
    border-radius: 25px;
    transform: 0.2s;
}

.PLframe1:hover{
    transition: 0.4s;
    cursor: pointer;
    background-color: white;
}

.PLframe1PIC{
    background-image: url(../icons/github.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    font-family: QuickSand;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    font-size: 18px;
    width: 40px;
    height: 40px;
    text-align: left;
    transition: 0.2s;
    border-radius: 25px;
}

.PLframe1Title{
    font-family: QuickSand;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    margin-top: 9;
    margin-left: 45;
    font-size: 18px;
    width: 40px;
    height: 40px;
    text-align: left;
    transition: 0.2s;
    border-radius: 25px;
}

/**/

.PLframe2{
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    margin-top: 85;
    margin-left: 7;
    font-size: 18px;
    width: 160;
    height: 40px;
    text-align: left;
    transition: 0.2s;
    border-radius: 25px;
    transform: 0.2s;
}

.PLframe2:hover{
    transition: 0.4s;
    cursor: pointer;
    background-color: white;
}

.PLframe2PIC{
    background-image: url(../icons/YouTube.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    font-size: 18px;
    width: 40px;
    height: 40px;
    transition: 0.2s;
    border-radius: 25px;
}

.PLframe2Title{
    font-family: QuickSand;
    color: rgb(0, 0, 0);
    position: absolute;
    margin-top: 9;
    margin-left: 45;
    font-size: 18px;
    width: 40px;
    height: 40px;
    text-align: left;
    transition: 0.2s;
    border-radius: 25px;
    position: absolute;
}

/**/

.PLframe3{
    font-family: QuickSand;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    margin-top: 129;
    margin-left: 7;
    font-size: 18px;
    width: 160;
    height: 40px;
    text-align: left;
    transition: 0.2s;
    border-radius: 25px;
    transform: 0.2s;
}

.PLframe3:hover{
    transition: 0.4s;
    cursor: pointer;
    background-color: white;
}

.PLframe3PIC{
    background-image: url(../icons/INSTAGRAM.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    font-family: QuickSand;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    font-size: 18px;
    width: 40px;
    height: 40px;
    text-align: left;
    transition: 0.2s;
    border-radius: 25px;
}

.PLframe3Title{
    font-family: QuickSand;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    margin-top: 9;
    margin-left: 45;
    font-size: 18px;
    width: 40px;
    height: 40px;
    text-align: left;
    transition: 0.2s;
    border-radius: 25px;
    position: absolute;
}

/**/

.PLframe4{
    font-family: QuickSand;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    margin-top: 174;
    margin-left: 7;
    font-size: 18px;
    width: 160;
    height: 40px;
    text-align: left;
    transition: 0.2s;
    border-radius: 25px;
    transform: 0.2s;
}

.PLframe4:hover{
    transition: 0.4s;
    cursor: pointer;
    background-color: white;
}

.PLframe4PIC{
    background-image: url(../icons/email.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    font-family: QuickSand;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    font-size: 18px;
    width: 40px;
    height: 40px;
    text-align: left;
    transition: 0.2s;
    border-radius: 25px;
}

.PLframe4Title{
    font-family: QuickSand;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    margin-top: 9;
    margin-left: 45;
    font-size: 18px;
    width: 40px;
    height: 40px;
    text-align: left;
    transition: 0.2s;
    border-radius: 25px;
    position: absolute;
}