:root{
    --neon-cyan:#00f0ff;
    --folly-red:#ff1654;
    --smooth-purple:#8a5cff;
}

html,body{
    height:100%;
    cursor:url('../cursors/default.x32.png'),auto;
}

::selection{
    background-color: #ff1654;
     color: #00f0ff;
}

body{
    margin:0;
    background:#000;
    color:#fff;
    overflow:hidden;
    font-family:Outfit,system-ui,Arial,Helvetica,sans-serif;
}

canvas{
    display:block;
    width:100vw;
    height:100vh
}

a{
    color:rgba(255, 255, 255, 0.627);
     cursor:url('../cursors/link.x32.png'), auto;
}
h1{
    position:fixed;
    left:50%;
    top:48%;
    transform:translate(-50%,-50%);
    font-size:clamp(36px,10vw,96px);
    margin:0;
    z-index:3;
    white-space:nowrap;
    mix-blend-mode:screen;
    color:var(--neon-cyan);
    font-weight:900;
    letter-spacing:-1px;
}

p{
    position:fixed;
    left:50%;
    top:62%;
    transform:translateX(-50%);
    margin:0;
    color:rgba(255,255,255,0.85);
    font-size:16px;
    z-index:3;
}

footer{
    position:fixed;
    right:12px;
    bottom:10px;
    color:rgba(255,255,255,0.35);
    font-size:12px;
    z-index:3
}