@import url('https://fonts.cdnfonts.com/css/extraoin-zhurdlyou-anarchy');
@import url('https://fonts.cdnfonts.com/css/sugarpunch-demo');
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
    color: white;
    font-size: 24px;
    user-select: none;
    -webkit-user-select: none;
    font-family: 'Sugarpunch DEMO', sans-serif;
-webkit-user-drag: none; 
overflow: hidden;
}

#countdown {
font-size: 2em;
text-align: center;
font-family: 'Sugarpunch DEMO', sans-serif;
word-spacing: 5px;
}


#countdown span {
display: inline-block;
opacity: 1;
transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
transform: translateY(0);
}

#countdown.fade-out span {
opacity: 0;
transform: translateY(-20px);
}
#gma {
   position: fixed;
   margin-top: 100px;
   color: rgb(254, 141, 166);
width: 50%;
left: 45%;
}

.title-bar {
    position: fixed;
   margin-bottom: 300px;
   color: rgb(254, 141, 166);
background-color: rgba(255, 255, 255, 0.2);
padding: 25px;
-webkit-app-region: drag;
display: flex;
justify-content: space-between;
width: 98%;
}

.title {
color: white;
transition: 0.4s;
}

.controls {
display: flex;
margin-left: 25px;
}

.close {
color: white;
cursor: pointer;
}

#content{
    border-style:dashed;
    padding:10px ;
    border-radius: 25px;
    transition: 0.4s;
    width: 80%;
    background-color: #000000;
    -webkit-app-region: drag;
}